branca==0.8.1
certifi==2025.8.3
charset-normalizer==3.4.3
folium==0.20.0
idna==3.10
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.3.2
prompt_toolkit==3.0.51
Pygments==2.19.2
questionary==2.1.0
requests==2.32.4
rich==14.1.0
urllib3==2.4.0
wcwidth==0.2.13
xyzservices==2025.4.0
